/*
 * Empty Stylesheet file.
 */

Text.title {
    -fx-font-size: 25;
    -fx-fill: red;
    -fx-stroke-width: 3;
    -fx-stroke: gold;
    -fx-font-family: tahoma;
}

VBox {
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 15;
    -fx-pref-width: 300;
    -fx-pref-height: 200;
}

Hbox {
    -fx-alignment: CENTER;
}
    
Text.text {
    -fx-padding: 10;
    -fx-pref-width: 100;
    -fx-fill: darkblue;
    -fx-stroke: background;
    -fx-stroke-width: 2;
    -fx-font-style: oblique;
    -fx-font-size: 14;
}

.txtUsername, .txtPassword {
    -fx-pref-width: 200;
    -fx-margin-left: 10;    
}

Button {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}

Button.login {
    -fx-alignment: CENTER;
}

Label.lbTuyenDi {
    -fx-alignment: CENTER;
    -fx-font-size: 26;
    -fx-pref-width: 600;
    -fx-font-family: arial;
    -fx-text-fill: darkslategray;
    -fx-background-color: blanchedalmond;
}

.mainFxmlClass {
}
